<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yessin.cards_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kings_card_club"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kings_card_club"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LeaderBoard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GamePlay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GettingCard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".HowToPlayActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>